.img-banner-top {
    width: 100%;
}

.img-add-left {
    width: 100%;
    margin: 0 0;
}

.img-product-card {
    width: 100%;
    margin: 0;
}

.img-featured-label {
    width: 56%;
}

.featured-label-container {
    position: absolute;
    text-align: center;
    width: 100%;
    padding-top: 5px;
    top: 0;
}

.product-img-container {
    margin: 0;
    text-align: center;
    position: relative;
}

.row-banner-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-banner-top {
    width: 28%;
}

.product-card {
    text-align: center;
    left: 0;
    top: 0;
}

.product-card:hover {
    box-shadow: 0 0 5px 0 gray;
}

.product-card:hover .form-add-to-card {
    display: block;
}

.form-add-to-card {
    display: none;
}

.carrousel-title {
    display: inline-block;
    background-color: #fde402;
    padding: 5px 60px 10px;
    margin: 100px 0 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}

.bold-text {
    font-weight: 800;
}

.text-product-card {
    font-size: 12px;
    color: rgb(97, 95, 95);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    /* Solo  mostrar 3 lineas de texto y en caso de cortarlo "..." al final */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-product-price-noIVA {
    font-size: 11px;
    color: rgb(97, 95, 95);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
}

.text-product-price-noIVA-big {
    font-size: 16px;
    color: rgb(15, 14, 14);
}

.text-product-price-IVA {
    font-size: 11px;
    color: rgb(173, 169, 169);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
}

.button-form {
    background-color: red;
    border: none;
    color: white;
    width: 90%;
    height: 38px;
    padding: 1px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 800;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid red;
}

.input-form {
    text-align: right;
    width: 75%;
    height: 38px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #9e9797;
    padding: 0 4px 0 4px;
}